@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #081b29;
  color: #ededed;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  text-decoration: none;
  color: #ededed;
  font-size: 25px;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
.navbar a {
  position: relative;
  text-decoration: none;
  margin-left: 35px;
  color: #ededed;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  z-index: 2;
}
.navbar a:hover {
  color: #00abfe;
}
.navbar a:first-child {
  color: #00abfe;
}
.Home {
  height: 100vh;
  display: flex;
  background: url(project_2.jpg) no-repeat;
  background-position: 90%;
  align-items: center;
  padding: 0 10%;
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}
.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.5s;
}
.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.7s;
  z-index: 2;
}
.btn-box a {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  width: 150px;
  height: 100%;
  color: #151212;
  font-size: 19px;
  letter-spacing: 1px;
  height: 600;
  z-index: 1;
  overflow: hidden;
  transition: 0.5sec;
}
.btn-box a:hover {
  color: #00abf0;
}
.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abfe;
}
.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover::before {
  width: 100%;
}
.home2 {
  position: absolute;
  width: 170px;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.home2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}
.home2 a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  overflow: hidden;
  z-index: 1;
}
.home2 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abfe;
  z-index: -1;
  transition: 0.4s;
  color: #00abf0;
}

.home2 a:hover::before {
  width: 100%;
}
.home2 a:hover {
  color: #081b29;
}
.project_2::before {
  position: absolute;
  content: "";
  left: 55%;
  top: 0%;
  width: 600px;
  height: 100vh;
  background: transparent;
  transition: 4s;
}

.project_2:hover::before {
  background: #081b29;
  opacity: 0.7;
}

/*Keyframes animation*/
@keyframes showRight {
  100% {
    width: 0;
  }
}
